@inject ISweetAlertService SweetAlert
@inject IBookRepo Repo
@inject NavigationManager Navigation

    <div class="book-card">
        <div class="book-card-body">
            <h5>@Book.Title</h5>
            By @Book.Author | @Book.PublicationDate?.ToString("MMM dd, yyyy");
        </div>
        <div class="actions">
            <a href="@($"/edit/{Book.Id }")" class="btn btn-warning ">Edit</a>
            <button @onclick="DeleteBook" class="btn btn-danger">Delete</button>
            <button @onclick="OpenConfirmDialog" class="btn btn-danger">Deleted</button>
        </div>
    </div>

<ConfirmDialog Show="showConfirmDialog" OnCancel="CancelDelete" OnOk="DeleteBook2">
    <h3>Do you want to delete book @Book.Title</h3>
</ConfirmDialog>
@code {
    private bool showConfirmDialog;


    [Parameter]
    public required Book Book { get; set; }

    private void OpenConfirmDialog()
    {
        showConfirmDialog = true;
    }

    private void CancelDelete()
    {
        showConfirmDialog = false;
    }

    private async Task DeleteBook2()
    {
        await Repo.DeleteAsync(Book.Id);
        Navigation.NavigateTo("/");
    }

    private async Task DeleteBook()
    {
        var confirmed = await SweetAlert.ConfirmDeleteAsync(Book.Title);
        if (confirmed)
        {
            await Repo.DeleteAsync(Book.Id);
            Navigation.NavigateTo("/");
        }
    }

}

